    <div class="col-sm-6 pull-right">
        <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '../manage.updatestudentinfo/index'">
            返回学生列表
            <i class="icon-reply icon-only"></i>
        </span>
    </div>

    <div class="profile-user-info profile-user-info-striped">
    
        <div class="profile-info-row">
            <div class="profile-info-name">学号/工号</div>
            <div class="profile-info-value">
                <span class="editable editable-click" id="username">{$no}</span>
            </div>
        </div>
    
        <div class="profile-info-row">
            <div class="profile-info-name">姓名</div>
            <div class="profile-info-value">
                <span class="editable editable-click" id="country">{$name}</span>
            </div>
        </div>
        
            <div class="profile-info-row">
            <div class="profile-info-name">性别</div>
            <div class="profile-info-value">
                <span class="editable editable-click" id="country">{$sex}</span>
            </div>
        </div>
    
        <div class="profile-info-row">
            <div class="profile-info-name">院系</div>
            <div class="profile-info-value">
                <span class="editable editable-click" id="age">{$major}</span>
            </div>
        </div>
    
        <div class="profile-info-row">
            <div class="profile-info-name">导师</div>
            <div class="profile-info-value">
                <span class="editable editable-click" id="age">{$professor}</span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name">导师联系方式</div>
            <div class="profile-info-value">
                <span class="editable editable-click" id="age">{$professor_phone}</span>
            </div>
        </div>
    
        <div class="profile-info-row">
            <div class="profile-info-name">学苑</div>
            <div class="profile-info-value">
                <span class="editable editable-click" id="age">{$department}</span>
            </div>
        </div>
    
        <div class="profile-info-row">
            <div class="profile-info-name">出生日期</div>
            <div class="profile-info-value">
                <span class="editable editable-click" id="country">{$birth}</span>
            </div>
        </div>
    
        <div class="profile-info-row">
            <div class="profile-info-name">联系电话</div>
            <div class="profile-info-value">
                <span class="editable editable-click" id="age">{$phone}</span>
            </div>
        </div>
        
        <div class="profile-info-row">
            <div class="profile-info-name">个人邮箱</div>
            <div class="profile-info-value">
                <span class="editable editable-click" id="age">{$email}</span>
            </div>
        </div>
    
        <div class="profile-info-row">
            <div class="profile-info-name">当前居住地址</div>
            <div class="profile-info-value">
                <span class="editable editable-click" id="age">{$address}</span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name">紧急联系人</div>
            <div class="profile-info-value">
                <span class="editable editable-click" id="age">{$parent}</span>
            </div>
        </div>
    
        <div class="profile-info-row">
            <div class="profile-info-name">紧急联系人电话</div>
            <div class="profile-info-value">
                <span class="editable editable-click" id="age">{$parent_phone}</span>
            </div>
        </div>
    
        <div class="profile-info-row">
            <div class="profile-info-name">当前状态</div>
            <div class="profile-info-value">
                <span class="editable editable-click" id="age">{$status}</span>
            </div>
        </div>

    
</div>