<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<style>
    /* 设置form样式 */
    #test {
        margin: 10px;
        margin-left: 220px;
    }
    #test02 {
        margin-bottom: 10px;
    }
</style>
<script language="javascript" type="text/javascript">
    window.onload = function () {
        var tableLine = document.getElementById("number");
        for (var i = 0; i < tableLine.rows.length; i++) {
            tableLine.rows[i].cells[0].innerHTML = (i + 1);
        }
     }
</script>
</head>
<body>
<div class="col-sm-6 pull-right" id='test02'>
        <span class="btn btn-sm btn-primary pull-right"
              onclick="javascript:window.location.href = '../manage.updatestudentinfo/index'">
            返回查询页面
            <i class="icon-reply icon-only"></i>
        </span>
</div>
<div>
    <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer">

        <table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer"
               role="grid" aria-describedby="dynamic-table_info">
            <thead>
            <tr role="row">
                
                <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"
                    aria-label="activate to sort column ascending">编号
                </th>

                <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"
                    aria-label="activate to sort column ascending">学号
                </th>

                <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1"
                    colspan="1" aria-label="activate to sort column ascending">姓名
                </th>

                <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1"
                    colspan="1" aria-label="activate to sort column ascending">身份
                </th>
                
                <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1"
                    colspan="1" aria-label="activate to sort column ascending">导师
                </th>

                <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1"
                    colspan="1" aria-label="activate to sort column ascending">院系专业
                </th>
                
                <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1"
                    colspan="1" aria-label="activate to sort column ascending">学苑
                </th>
                
                <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1"
                    colspan="1" aria-label="activate to sort column ascending">当前状态
                </th>

                <th class="sorting_disabled" rowspan="1" colspan="1" aria-label=""></th>
            </tr>
            </thead>

            <tbody id='number'>

            {volist name="student" id="vo"}

            <tr role="row" class="odd selected">

                <td></td>
                <td>{$vo.no}</td>
                <td>{$vo.name}</td>
                <td title="管理员1 教师2 学生3">{$vo.role_id}</td>
                <td>{$vo.professor}</td>
                <td>{$vo.r_major}</td>
                <td>{$vo.r_department}</td>
                <td>{$vo.r_status}</td>

                <td>
                    <div class="hidden-sm hidden-xs action-buttons">

                        <a class="blue" href="../manage.updatestudentinfo/info?id={$vo.id}">
                                <i class="ace-icon fa fa-search-plus bigger-130"></i>
                        </a>

                        <a class="green" href="changeinfo?id={$vo.id}">
                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                        </a>

                        <a class="red" href="deleteinfo?id={$vo.id}">
                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                        </a>
                        
                    </div>
                </td>

            </tr>

            {/volist}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>