<div class="widget-box">
    <div class="widget-box widget-color-dark" id="widget-box-7">
        <div class="widget-header widget-header-small">
            <h5 class="widget-title">修改密码</h5>
        </div>
        
        <div class="widget-body">
            <div class="widget-main">
                <div class="alert alert-info">
                    <form action="modify_check" method="post" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 当前密码 </label>

                            <div class="col-sm-9">
                                <input type="text" name="oldpassword" id="form-field-1" placeholder="请填写当前密码"
                                    class="col-xs-10 col-sm-5">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 新密码 </label>

                            <div class="col-sm-9">
                                <input type="text" name="newpassword" id="form-field-1" placeholder="请填写您的新密码"
                                    class="col-xs-10 col-sm-5">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 确认密码 </label>

                            <div class="col-sm-9">
                                <input type="text" name="checknewpassword" id="form-field-1" placeholder="请再次填写新密码"
                                    class="col-xs-10 col-sm-5">
                            </div>
                        </div>


                        <div style="text-align:center;vertical-align:middle;">
                            <input type="submit" value="确认修改" />
                        </div>


                    </form>



                </div><!-- /.widget-main -->
            </div><!-- /.widget-body -->
        </div>
    </div><!-- /.widget-body -->
</div>
