<script language="javascript" type="text/javascript">
    window.onload = function () {
        var tableLine = document.getElementById("number");
        for (var i = 0; i < tableLine.rows.length; i++) {
            tableLine.rows[i].cells[0].innerHTML = (i + 1);
        }
    }
</script>

<div class="page-header">
    <h1>
        <b>学苑管理员信息</b>
        <div class="col-sm-6 pull-right">
            <span class="btn btn-sm btn-primary pull-right"
                onclick="javascript:window.location.href = '../supervise.checksupervisor/index'">
                返回学苑管理员名单页面
                <i class="icon-reply icon-only"></i>
            </span>
        </div>
    </h1>
</div>


<div class="profile-user-info profile-user-info-striped">
    <div class="profile-info-row">
        <div class="profile-info-name"> 学号</div>

        <div class="profile-info-value">
            <span class="editable" id="username">{$no}</span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name"> 姓名</div>

        <div class="profile-info-value">
            <!-- <i class="fa fa-map-marker light-orange bigger-110"></i> -->
            <span class="editable" id="name">{$name}</span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name"> 联系电话</div>

        <div class="profile-info-value">
            <span class="editable" id="phone">{$phone}</span>
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name"> 邮箱</div>

        <div class="profile-info-value">
            <span class="editable" id="email">{$email}</span>
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name"> 当前地址</div>

        <div class="profile-info-value">
            <span class="editable" id="address">{$address}</span>
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name"> 紧急联系人</div>

        <div class="profile-info-value">
            <span class="editable" id="parent">{$parent}</span>
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name"> 紧急联系人电话</div>

        <div class="profile-info-value">
            <span class="editable" id="parent_phone">{$parent_phone}</span>
        </div>
    </div>
</div>


<div class="page-header">
    <h1>
        <b>联络名单</b>
    </h1>
</div>

<div>
    <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer">

        <table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid"
            aria-describedby="dynamic-table_info">
            <thead>
                <tr role="row">

                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"
                        aria-label="activate to sort column ascending">编号
                    </th>

                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"
                        aria-label="activate to sort column ascending">学号
                    </th>

                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"
                        aria-label="activate to sort column ascending">姓名
                    </th>

                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"
                        aria-label="activate to sort column ascending">性别
                    </th>

                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"
                        aria-label="activate to sort column ascending">学苑
                    </th>

                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"
                        aria-label="activate to sort column ascending">手机号
                    </th>

                    <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"
                        aria-label="activate to sort column ascending">当前住址
                    </th>

                    <th class="sorting_disabled" rowspan="1" colspan="1" aria-label=""></th>
                </tr>
            </thead>

            <tbody id='number'>

                {volist name="list" id="vo"}

                <tr role="row" class="odd selected">

                    <!--<td></td>-->
                    <td>{$vo.id}</td>
                    <td>{$vo.no}</td>
                    <td>{$vo.name}</td>
                    <td>{$vo.sex}</td>
                    <td>{$vo.r_department}</td>
                    <td>{$vo.phone}</td>
                    <td>{$vo.address}</td>
                    <td>
                        <div class="hidden-sm hidden-xs action-buttons">
                            <a class="blue" href="../supervise.checkstudent/changeinfo?id={$vo.id}">
                                <i class="ace-icon fa fa-search-plus bigger-130"></i>
                            </a>
                        </div>

                    </td>

                </tr>

                {/volist}
            </tbody>
        </table>
    </div>
</div>