<div class="page-header">
    <h1>
        <b>教师个人信息</b>

    </h1>
</div>
<!-- <div class="col-sm-6 pull-right">
     <span class="btn btn-sm btn pull-right" onclick="javascript:window.location.href = ''">/public/index/main/index
         打印个人基本信息
         <i class="icon-reply icon-only"></i>
     </span>
     <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = ''">/public/index/main/index
         向管理员申请修改
         <i class="icon-reply icon-only"></i>
     </span>
 </div> -->

<div class="profile-user-info profile-user-info-striped">

    <div class="profile-info-row">
        <div class="profile-info-name">工号</div>
        <div class="profile-info-value">
            <span class="editable" id="username">{$no}</span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name">姓名</div>
        <div class="profile-info-value">
            <span class="editable" id="country">{$name}</span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name">性别</div>
        <div class="profile-info-value">
            <span class="editable" id="country">{$sex}</span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name">出生日期</div>
        <div class="profile-info-value">
            <span class="editable" id="country">{$birth}</span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name">联系电话</div>
        <div class="profile-info-value">
            <span class="editable" id="age">{$phone}</span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name">个人邮箱</div>
        <div class="profile-info-value">
            <span class="editable" id="age">{$email}</span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name">院系</div>
        <div class="profile-info-value">
            <span class="editable" id="age">{$major}</span>
        </div>
    </div>



    <div class="profile-info-row">
        <div class="profile-info-name">管理的学苑</div>

        <div class="profile-info-value">
            {volist name="student" id="vo"}
            <span class="editable" id="age">{$vo.department_name}</span>

            {/volist}
        </div>
    </div>



</div>