<style>
    /* 设置form样式 */
    #lie {
        width: 200px;
    }
    
</style>

<br>


<div class="col-sm-6 pull-right">
    <span class="btn btn-sm btn-primary pull-right" onclick="javascript:history.back();">
        返回搜索结果列表
        <i class="icon-reply icon-only"></i>
    </span>
</div>

<br>
<br>



<div class="profile-user-info profile-user-info-striped">
    
    <div class="profile-info-row">
        <div class="profile-info-name" id="lie" >操作类型</div>
        <div class="profile-info-value">
            <span  id="username">{$log[0]["type"]}</span>
        </div>
    </div>
    
    <div class="profile-info-row">
        <div class="profile-info-name">操作字段</div>
        <div class="profile-info-value">
            <span  id="username">{$log[0]["attribute_name"]}</span>
        </div>
    </div>
    
    <div class="profile-info-row">
        <div class="profile-info-name">操作时间</div>
        <div class="profile-info-value">
            <span  id="username">{$log[0]["time"]}</span>
        </div>
    </div>
    
    <div class="profile-info-row">
        <div class="profile-info-name">操作描述信息</div>
        <div class="profile-info-value">
            <span  id="username">{$log[0]["new_info"]}</span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name">操作人学号/工号</div>
        <div class="profile-info-value">
            <span  id="age">{$log[0]["no0"]}</span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name">操作人姓名</div>
        <div class="profile-info-value">
            <span  id="username">{$log[0]["name0"]}</span>
        </div>
    </div>
    
    <div class="profile-info-row">
        <div class="profile-info-name">操作人院系</div>
        <div class="profile-info-value">
            <span  id="username">{$log[0]["major0_name"]}</span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name">操作人学苑</div>
        <div class="profile-info-value">
            <span  id="username">{$log[0]["department0_name"]}</span>
        </div>
    </div>
    
    <div class="profile-info-row">
        <div class="profile-info-name">操作人身份</div>
        <div class="profile-info-value">
            <span  id="username">{$log[0]["role0_name"]}</span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name">操作人联系电话</div>
        <div class="profile-info-value">
            <span  id="age">{$log[0]["contact1_phone"]}</span>
        </div>
    </div>
    
    <div class="profile-info-row">
        <div class="profile-info-name">被操作对象学号/工号</div>
        <div class="profile-info-value">
            <span  id="age">{$log[0]["no1"]}</span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name">被操作对象姓名</div>
        <div class="profile-info-value">
            <span  id="username">{$log[0]["name1"]}</span>
        </div>
    </div>
    
    <div class="profile-info-row">
        <div class="profile-info-name">被操作对象院系</div>
        <div class="profile-info-value">
            <span  id="username">{$log[0]["major1_name"]}</span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name">被操作对象学苑</div>
        <div class="profile-info-value">
            <span  id="username">{$log[0]["department1_name"]}</span>
        </div>
    </div>
    
    <div class="profile-info-row">
        <div class="profile-info-name">被操作对象身份</div>
        <div class="profile-info-value">
            <span  id="username">{$log[0]["role1_name"]}</span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name">被操作对象联系电话</div>
        <div class="profile-info-value">
            <span  id="age">{$log[0]["contact1_phone"]}</span>
        </div>
    </div>
    

</div>