<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<style>
    /* 设置form样式 */
    #test {
        margin: 10px;
        margin-left: 220px;
    }
    #test02 {
        margin-bottom: 10px;
    }
</style>
<script language="javascript" type="text/javascript">
    window.onload = function () {
        var tableLine = document.getElementById("number");
        for (var i = 0; i < tableLine.rows.length; i++) {
            tableLine.rows[i].cells[0].innerHTML = (i + 1);
        }
     }
</script>
</head>
<body>
 <div class="col-sm-6 pull-right" style="margin-bottom: 10px;">
        <span class="btn btn-sm btn-primary btn pull-right" style="margin-left: 10px;" onclick="javascript:window.location.href = '../manage.systemuser/export?exportmodeid=1'"><!--/public/index/main/index-->
            导出详细信息({$result_count}条数据)
            <i class="icon-reply icon-only"></i>
        </span>
        <span class="btn btn-sm btn-primary btn pull-right" style="margin-left: 10px;" onclick="javascript:window.location.href = '../manage.systemuser/export?exportmodeid=2'"><!--/public/index/main/index-->
            导出名单({$result_count}条数据)
            <i class="icon-reply icon-only"></i>
        </span>
        <span class="btn btn-sm btn-primary pull-right" onclick="javascript:window.location.href = '../manage.systemuser/index'"><!--/public/index/main/index-->
            返回管理系统用户页面
            <i class="icon-reply icon-only"></i>
        </span>
    </div>
    
    <!--    超级管理员点击删除前弹出确认框-->
    <script>
        function confirmDel(no,name)
        {
            if(confirm("确定在数据库中删除"+no+"_"+name+"的信息吗？"))
            {
                return true;
            }
            else
            {
                return false;
            }
        }
    </script>
<div>
    <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer">

        <table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer"
               role="grid" aria-describedby="dynamic-table_info">
            <thead>
            <tr role="row">
                
                <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"
                    aria-label="activate to sort column ascending">编号
                </th>

                <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1"
                    aria-label="activate to sort column ascending">学号/工号
                </th>

                <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1"
                    colspan="1" aria-label="activate to sort column ascending">姓名
                </th>
                
                <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1"
                    colspan="1" aria-label="activate to sort column ascending">身份
                </th>
                
                <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1"
                    colspan="1" aria-label="activate to sort column ascending">联络人
                </th>
                
                <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1"
                    colspan="1" aria-label="activate to sort column ascending">导师
                </th>

                <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1"
                    colspan="1" aria-label="activate to sort column ascending">院系专业
                </th>
                
                <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1"
                    colspan="1" aria-label="activate to sort column ascending">学苑
                </th>
                
                <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1"
                    colspan="1" aria-label="activate to sort column ascending">当前状态
                </th>

                <th class="sorting_disabled" rowspan="1" colspan="1" aria-label=""></th>
            </tr>
            </thead>

            <tbody id='number'>

            {volist name="student" id="vo"}

            <tr role="row" class="odd selected">

                <td></td>
                <td>{$vo.no}</td>
                <td>{$vo.name}</td>
                <td>{$vo.role_name}</td>
                <td>{$vo.contact_name}</td>
                <td>{$vo.professor}</td>
                <td>{$vo.r_major}</td>
                <td>{$vo.r_department}</td>
                <td>{$vo.r_status}</td>

                <td>
                    <div class="hidden-sm hidden-xs action-buttons">

                        <a class="blue" href="../manage.systemuser/info?id={$vo.id}">
                                <i class="ace-icon fa fa-search-plus bigger-130"></i>
                        </a>

                        <a class="green" href="changeinfo?id={$vo.id}">
                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                        </a>

                        <a class="red" href="deleteinfo?id={$vo.id}" onclick="return confirmDel('{$vo.no}','{$vo.name}')">
                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                        </a>
                        
                    </div>
                </td>

            </tr>

            {/volist}
            </tbody>
        </table>
    </div>
</div>
{$student->render()}
</body>
</html>